.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.logo h2 {
    color: rgb(255, 0, 0);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;

}
.nav-links a:hover{
    color: rgb(255, 187, 0);
}

.image-scroll {
    overflow: hidden;
    height: 100vh;
}

.image-scroll img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.scroll-arrows button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.Gallery{
    background-color: rgb(255, 0, 0);
}
.container{
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: gold;
}
.container .search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #ff0000;
    padding: 0 15px 0 45px;
    color: gold;
    border-radius: 6px;
}
.search-box i{
    position: absolute;
    z-index: 2;
    color: #ffffff;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
}
.container .images .image-box{
    position: relative;
    height: 300px;
    width: 210px;
    border-radius: 6px;
    overflow: hidden;
}
.images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.images .image-box{
    margin: 8px;
}
.images .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
}
.image-box:hover img{
    transform: scale(1.05);
}
.image-box h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

footer{
    background-color: gold;
    border: solid red;
    border-width: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


h3{
    color: #ff0000;
}
